body { 
    background: url(../assets/images/background.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#main-content{
    background-color:rgba(94, 158, 160, 0.719);
    opacity: 0.99;
}

.jumbotron {
    background-image: url(../assets/images/pokeball.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    
}